h2 {
  margin-left: 25px;
}

.vocabulary_list > * {
  display: block;
  margin: 20px auto;
}

.vocabulary_list .paper {
  width: 55%;
  display: flex;
  position: relative;
}

h4 {
  margin-left: 35px;
}

h5 {
  position: absolute;
  left: 350px;
  /*margin-left: 20px;*/
}

.btn {
  text-align: center;
  margin: 50px;
}
